{% extends '::base.html.twig' %}

{% block title 'CucuTitle'%}
{% block body %}

    {% for i in 1..count %}
        <p>
            Hello {{ name|upper }} # {{ i }} !
        </p>
    {% endfor %}

    <h2>Event Details</h2>
    {{ event.name }}<br>
    {{ event.location }}

{% endblock %}


